body{
    background-image: url("/bilder/flygandeblomma.png");
    
}


.vårlåda {
    background-image: url("/bilder/katten.png");
    border: thick double #32a1ce;
    width: 300px;
    height: 500px;
    position: fixed;
    inset: 0;
    margin: auto;
}
