body{
    background-image: url("/bilder/blommfält.png");
    background-repeat: no-repeat;
}




.vårlåda {
    background-image: url("/bilder/katten.png");
    border: thick double #32a1ce;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -50px;
    width: auto;
    height: auto;
