body{
    background-image: url("/bilder/blommfält.png");
}


.vårlåda {
    background-image: url("/bilder/katten.png");
    border: thick double #32a1ce;
    width: auto;
    height: auto;
    position: fixed;
    margin: auto;
}
