body {
  background: slateblue;
}


.v책rl책da {
  /* perforerings storlek */
  --radius: 8px;
  background-image:
      radial-gradient(
      var(--radius),
      transparent 10%,
      white
    ),
    linear-gradient(white 0 0);
  background-repeat: 
    round, 
    no-repeat;
  background-position:
    calc(var(--radius) * -1.5) calc(var(--radius) * -1.5),
    50%;
  background-size:
    calc(var(--radius) * 3) calc(var(--radius) * 3),
    calc(100% - var(--radius) * 3) calc(100% - var(--radius) * 3);
}

.v책rl책da {
  width: min(50%, 600px);
  height: 50%;
  position: fixed;
  inset: 0;
  margin: auto;
}
