body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('bilder/blommonsterbkg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    background-color: hsl(51, 100%, 50%);
    border-bottom: 4px solid #FFC90E;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55px;
    height: 45px;
    cursor: pointer;
    padding: 12px;
}

.menu-icon div {
    background-color: black;
    height: 8px;
    width: 100%;
}

.top-nav {
    display: flex;
    gap: 50px;
}

.top-nav a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: black;
    padding: 14px 30px;
    background-color: #FFC90E;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.top-nav a:hover {
    background-color: #ffbb00;
}

.nav-menu {
    display: none;
    position: absolute;
    top: 90px;
    left: 20px;
    background: #EFE4B0;
    width: 220px;
    border: 4px solid #FFC90E;
    z-index: 1000;
}

.nav-menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    border-bottom: 4px solid #FFC90E;
}

.nav-menu a:hover {
    background-color: #FFC90E;
}

.nav-menu.show {
    display: block;
}

main {
    padding: 40px 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-bottom: 40px;
}

.poem {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.flex-box {
    background-color: #EFE4B0;
    border: 4px solid #FFC90E;
    padding: 15px;
    flex: 1 1 300px;
    box-sizing: border-box;
    color: black;
    display: flex;
    align-items: center;
}

.flex-box p {
    margin: 0;
    white-space: pre-line;
    word-wrap: break-word;
    font-size: 16px;
}

.wide {
    width: 90%;
}
