
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 30px;
    cursor: pointer;
    padding: 15px;
}

.menu-icon div {
    background-color: #333;
    height: 5px;
    width: 100%;
    transition: 0.3s;
}


.nav-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background: white;
    width: 220px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.nav-menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.nav-menu a:hover {
    background: #ddd;
}


.nav-menu.show {
    display: block;
}

.vårlåda {
    color: red;
}
